IO_LOC "clk" H11;
IO_LOC "rst_n" T3;
IO_LOC "PA_EN" R16;
IO_LOC "HP_DIN" P15;
IO_LOC "HP_WS" P16;
IO_LOC "HP_BCK" N15;
IO_LOC "LED2" N16;

IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_PORT "rst_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_PORT "PA_EN" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_PORT "HP_DIN" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_PORT "HP_WS" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_PORT "HP_BCK" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_PORT "LED2" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
