IO_LOC "clk" H11;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "s0_n" T10;
IO_PORT "s0_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "LED_HEARTBEAT" N16;
IO_PORT "LED_HEARTBEAT" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=4;
IO_LOC "LED_S0" N14;
IO_PORT "LED_S0" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=4;
