IO_LOC "clk" H11;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "btn_n[0]" T10;
IO_PORT "btn_n[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "btn_n[1]" T3;
IO_PORT "btn_n[1]" IO_TYPE=LVCMOS15 PULL_MODE=UP;
IO_LOC "btn_n[2]" T2;
IO_PORT "btn_n[2]" IO_TYPE=LVCMOS15 PULL_MODE=UP;
IO_LOC "btn_n[3]" D7;
IO_PORT "btn_n[3]" IO_TYPE=LVCMOS15 PULL_MODE=UP;

IO_LOC "PA_EN" R16;
IO_PORT "PA_EN" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "HP_DIN" P15;
IO_PORT "HP_DIN" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "HP_WS" P16;
IO_PORT "HP_WS" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "HP_BCK" N15;
IO_PORT "HP_BCK" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

IO_LOC "LED_ALIVE" N16;
IO_PORT "LED_ALIVE" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED_KEY" N14;
IO_PORT "LED_KEY" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
